name: docker-ci

on:
  push:
    branches:
      - 'master'
  release:
    types: [published]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Determine tag type
        uses: haya14busa/action-cond@v1
        id: imgtag
        with:
          cond: ${{ github.event_name == 'release' }}
          if_true: ${{ env.RELEASE_VERSION }}
          if_false: latest
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          platforms: linux/amd64,linux/arm64,linux/386,linux/arm/v7
          push: true
          tags: ${{secrets.DOCKERHUB_USERNAME}}/dumbproxy:${{ steps.imgtag.outputs.value }}
